<%- include components/html/open.ejs %>

    <main id="app">
        <div class="form-container">
            <div class="form-image">
                <img src="/img/burger-3.png" alt="LocalName">
            </div>
            <!-- <div class="form-banner">banner image</div> -->
            <form method="POST">

                <!-- step 1 --> <div class="step step_1">
                    <div class="fields-group">
                        <label for="name">Nome</label>
                        <input type="text" name="name" id="name" placeholder="Fulano alguma coisa" required minlength="3" />
                    </div>

                    <div class="fields-group">
                        <label for="phone">Telefone</label>
                        <input type="text" name="phone" id="phone" placeholder="(00) 0 000-000" required minlength="10" />
                    </div>

                    <div class="fields-group">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" placeholder="fulano@email.com" required />
                    </div>

                    <div class="fields-group">
                        <label for="visitType">Como visitou</label>
                        <select name="visitType" id="visitType" required>
                            <option value="Sozinho" selected>Sozinho</option>
                            <option value="Casal">Casal</option>
                            <option value="Com amigos">Com amigos</option>
                            <option value="Em família">Em família</option>
                        </select>
                    </div>

                    <div class="fields-group">
                        <label for="visitFrequence">Frequência de visitas</label>
                        <select name="visitFrequence" id="visitFrequence" required>
                            <option value="Primeira vez" selected>É minha primeira vez</option>
                            <option value="Poucas vezes">Poucas vezes</option>
                            <option value="Algumas vezes">Algumas vezes</option>
                            <option value="Muitas Vezes">Muitas vezes</option>
                        </select>
                    </div>
                    <footer>
                        <button type="button" class="button-toggle-step btn-app" data-steph=".step_1" data-steps=".step_2">próximo</button>
                    </footer>
                </div>

                <!-- step 2 --> <div class="step step_2 step-hidden">

                    <div class="fields-group">
                        <label for="environmentOpn">O que achou do ambiente?</label>
                        <select name="environmentOpn" id="environmentOpn" required>
                            <option value="Ruim" selected>Ruim</option>
                            <option value="Bom">Agradável</option>
                            <option value="Excelênte">Excelênte</option>
                        </select>
                    </div>

                    <div class="fields-group">
                        <label for="serviceOpn">O que achou do atendimento?</label>
                        <select name="serviceOpn" id="serviceOpn" required>
                            <option value="Ruim" selected>Ruim</option>
                            <option value="Bom">Bom</option>
                            <option value="Excelênte">Excelênte</option>
                        </select>
                    </div>

                    <div class="fields-group">
                        <label for="foodOpn" className="m-0">O que achou da comida?</label>
                        <select name="foodOpn" id="foodOpn" required>
                            <option value="Ruim" selected>Ruim</option>
                            <option value="Bom">Boa</option>
                            <option value="Excelênte">Excelênte</option>
                        </select>
                    </div>

                    <div class="fields-group">
                        <label for="recomendation">Você recomendaria esse local?</label>
                        <select name="recomendation" id="recomendation" required>
                            <option value="Sim" selected>Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>

                    <footer>
                        <button type="button" class="button-toggle-step btn-app" data-steph=".step_2" data-steps=".step_3">próximo</button>
                        <button type="button" class="button-toggle-step btn-app-outline" data-steph=".step_2" data-steps=".step_1">voltar</button>
                    </footer>
                </div>

                <!-- step 3 --> <div class="step step_3 step-hidden">

                    <div class="fields-group">
                        <label for="message">
                            Deixe uma menssagem para que possamos entender 
                            com suas própias palavras o seu nível de satisfação (opcional)
                        </label>
                        <textarea name="message" id="message"></textarea>
                    </div>

                    <input type="hidden" name="hour" class="hour">
                    <input type="hidden" name="date" class="date">

                    <footer>
                        <button type="submit" class="btn-app">finalizar</button>
                        <button type="button" class="button-toggle-step btn-app-outline" data-steph=".step_3" data-steps=".step_2">voltar</button>
                    </footer>
                </div>

            </form>
        </div>
    </main>

<%- include components/html/close.ejs %>