<%- include components/html/open.ejs %>

    <div class="tanks-container">
        <img src="img/burger-3.png">
        <p>Feito !</p>
        <p>
            Obrigado(a) pela sua opnião, nós da <strong class="companyName">nomeDaEmpresa</strong> estamos sempre
            melhorando nossos serviços e processos para oferecer o melhor para você.
        </p>
    </div>

    <script>

        window.onload = () => setTimeout ( () => window.location.href = "/", 10000 )

    </script>

</body>

</html>